<footer class="footer">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-sm-12 ">
        <div class="footer-widget">
          <a class="mb-4 d-inline-block" href="{{ .Site.BaseURL }}">
            {{ if .Site.Params.logo }}
            <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
            {{ else }}
            <h2 class="mb-0 text-dark">{{ .Site.Title }}</h2>
            {{ end }}
          </a>
          <p class="mb-4">{{ .Site.Params.footer.content | markdownify }}</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="subscribe">
          <h4 class="mb-4">订阅曼谛悟思的邮件列表</h4>
          <form style="border:0px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/Mindiverse" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Mindiverse', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><label for="tlemail">填入您的 Email 地址&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" style="width:140px" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/>&nbsp;&nbsp;&nbsp;<input type="submit" value="订阅" /><p> </p></form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row footer-btm mt-5 pt-4 border-top">
      <div class="col-lg-6">
        <!-- Copyright -->
        <p class="footer-copy">
          {{ .Site.Params.copyright | markdownify }}
        </p>
      </div>
      <div class="col-lg-6">
        <div class="footer-btm-menu text-lg-right">
          <img src="#{{`images/about/cards-3.png` | relURL }}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

<!-- snipcart -->
<script type="text/javascript" id="snipcart" src=""
  data-api-key=""></script>
<script>
  Snipcart.execute('registerLocale', 'en', {
    powered_by: "{{ .Site.Params.Author }}"
  });
</script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.googleAnalitycsID }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}